.order {
    background-color: lightgrey;
    border-radius: 5%;
    margin-top: 10%;
    width: 100%;
    padding: 10%;
}

.name {
    background-color: midnightblue;
    border-radius: 5px;
    font-family: 'Modak', cursive;
    margin-bottom: 2%;
}

.info {
    background-color: #ff53dd;
    border-radius: 5px;
    font-family: 'Patua One', cursive;
    padding: 1%;
}
